# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ide
.idea

# build
build/
cmake-build-release/

# dependencies
/dependencies/assimp/*
dependencies/boost/*
dependencies/glad/*
dependencies/glfw/*
dependencies/glm/*

#resources
resources/models
dependencies/assimp/include/assimp/config.h
